@{
    ViewBag.Title = "Index";
}

<h2>Pokitdok Test Harness</h2>

@Html.ActionLink("Create Claim", "CreateClaim")
<br/>
@Html.ActionLink("Create Claim Status", "CreateClaimStatus")
<br/>
@Html.ActionLink("Create Eligibility", "CreateEligibility")